<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='indexstyle.css')}}'>
    <title>メインページ</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/form">アンケート</a></li>
            <li><a href="/result">result</a></li>
        </ul>
    </nav>
    <h1>
        ここは最初のページです
    </h1>
</body>
</html>