@charset 'utf-8';

body {
    background-color: white;
}

nav {
   text-align: center;
   background-color: gray;
}
nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 20%;
}
nav ul li::after {
    content:"/";
    padding-left: 60px;
    color:black;
}

nav ul li:last-child::after{
    content:"";
}

nav ul li a{
    text-decoration:  none;
    color: #333;
}
/* aにカーソルを合わせたとき */
nav ul li a:hover {
    color: rgba(38, 167, 26, 0.788);
}